<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Equipment</title>
</head>
<body>
    <h1>Add Equipment</h1>
    <form action="/fruits/<%= fruit.id %>?_method=PUT" method="POST">
        PO Number: <input type="text" name="po" value="<%= equipmentpreservation.po %>"/><br/>
        Equipment: <input type="text" name="color" value="<%= fruit.color %>"/><br/>
        Is Ready To Eat: 
        <input type="checkbox" name="readyToEat"
            <% if(fruit.readyToEat === true) { %>
                checked
            <% } %>
        /><br/>
        <input type="submit" name="" value="Edit Fruit"/>
    </form>
</body>
</html>