<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipment Page</title>
</head>
<body>
    <h1>Preservation Information:</h1>
    <div class="container">
        <label name="po">PO</label>
        <input type='text' name = 'po' value="<%= allEquip.po %>" />
    </div>
</body>
</html>